{% load django_tables2 %}
{% load i18n %}
{% load static %}
{% block table-wrapper %}

<style type="text/css">
    .hiddenRow {
    padding: 0 !important;
}
</style>




<!--<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"/>-->
<!--<script src="{% static 'js/popper.min.js' %}"/>-->
<!--<script src="{% static 'js/bootstrap.min.js' %}"/>-->


<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->
<!--<script>-->
<!--    $(function () {-->
<!--  $('[data-toggle="tooltip"]').tooltip()-->
<!--})-->
<!--</script>-->
<!--<script>-->
<!--    $('.collapse').on('show.bs.collapse', function () {-->
<!--    $('.collapse.in').collapse('hide');-->
<!--});-->
<!--</script>-->




<div class="table-container">
    {% block table %}
        <table style="border-collapse:collapse" {% render_attrs table.attrs %} id="hahaha">
            {% block table.thead %}
            {% if table.show_header %}
                <thead class="thead-dark" {{ table.attrs.thead.as_html }}>
                    <tr>
                    {% for column in table.columns %}
                        <th {{ column.attrs.th.as_html }}>
                            {% if column.orderable %}
                            <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}" style="color: #17a2b8">{{ column.header }}</a>
                            {% else %}
                                <a style="color: #adadad">{{ column.header }}</a>
                            {% endif %}
                        </th>
                    {% endfor %}
                    </tr>
                </thead>
            {% endif %}
            {% endblock table.thead %}
            {% block table.tbody %}
                <tbody {{ table.attrs.tbody.as_html }}>
<!--                <tr colspan="6" data-toggle="collapse" data-target="#demo1" class="accordion-toggle">-->
                    <tr colspan="6" data-toggle="collapse" data-target="#demo1" class="clickable">
				            <td>1</td>
				            <td>12 Jan 2018</td>
				            <td>Good</td>
				            <td>$150.00</td>
				            <td> - </td>
				            <td>$150.00</td>
				        </tr>
                <tr class="p">
				            <td colspan="6" class="hiddenRow">
<!--					            <div class="accordian-body collapse p-4" id="demo1">-->
                                    <div class="no-border collapse p-4" id="demo1">
					            	<p>No : <span>1</span></p>
					            	<p>Date : <span>12 Jan 2018</span> </p>
					            	<p>Description : <span>Good</span> </p>
					            	<p>Credit : <span>$150.00</span> </p>
					            	<p>Debit : <span></span></p>
					            	<p>Balance : <span>$150.00</span></p>
					        	</div>
				        	</td>
                    </tr>
                {% for row in table.paginated_rows %}
                    {% block table.tbody.row %}
<!--                    <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1"  {{ row.attrs.as_html }}>-->
                    <tr colspan="6" data-toggle="collapse" data-target="#demo1" class="accordion-toggle" {{ row.attrs.as_html }}>
<!--                        {% for column, cell in row.items %}-->
<!--                            <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>-->
<!--                            <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>-->
                            <td >{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>

<!--                        {% endfor %}-->

                    </tr>
                    {% endblock table.tbody.row %}

                {% empty %}
                    {% if table.empty_text %}
                    {% block table.tbody.empty_text %}
                    <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                    {% endblock table.tbody.empty_text %}
                    {% endif %}

                {% endfor %}
            {% endblock table.tbody %}
            {% block table.tfoot %}
            {% if table.has_footer %}
            <tfoot {{ table.attrs.tfoot.as_html }}>
                <tr>
                {% for column in table.columns %}
                    <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                {% endfor %}
                </tr>
            </tfoot>
            {% endif %}
            {% endblock table.tfoot %}
        </table>
    {% endblock table %}

    {% block pagination %}
        {% if table.page and table.paginator.num_pages > 1 %}
        <ul class="pagination justify-content-end">
            {% if table.page.has_previous %}
                {% block pagination.previous %}
                    <li class="previous">
                        <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">
                            {% trans 'previous' %}
                        </a>
                    </li>
                {% endblock pagination.previous %}
            {% endif %}
            {% if table.page.has_previous or table.page.has_next %}
            {% block pagination.range %}
                {% for p in table.page|table_page_range:table.paginator %}
                    <li {% if p == table.page.number %}class="active"{% endif %}>
                        {% if p == '...' %}
                            <a href="#">{{ p }}</a>
                        {% else %}
                            <a href="{% querystring table.prefixed_page_field=p %}">
                                {{ p }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endblock pagination.range %}
            {% endif %}
            {% if table.page.has_next %}
                {% block pagination.next %}
                    <li class="next">
                        <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">
                            {% trans 'next' %}
                        </a>
                    </li>
                {% endblock pagination.next %}
            {% endif %}
        </ul>
        {% endif %}
    {% endblock pagination %}
</div>
{% endblock table-wrapper %}

<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>-->

<script>
    $(document).ready( function () {
    $('#hahaha').DataTable();
    } );
</script>

