{# targethost/templates/targethost/host.html #}
<!--{% load render_table from django_tables2 %}-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Packages update info</title>
    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"-->
    <!--link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" /-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <!-- link rel="stylesheet" type="text/css" href="./main.css" -->
    <!--    <style type="text/css">-->
    <!--        table.paleblue tr.even {-->
    <!--            background-color: white;-->
    <!--        }-->
    <!--        table.paleblue tr.odd {-->
    <!--            background-color: #EDF3FE;-->
    <!--        }-->
    <!--    </style>-->
    <style type="text/css">


    </style>
    body { padding-top: 50px; }


</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script-->


<div class="container">
    <div class="row">
        <nav class="navbar navbar-inverse navbar-expand-md fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Grindstone</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            菜单
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">更新</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">说明</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</div>


<div class="container-fluid">
    <div class="jumbotron">
        <div class="container text-center">
            <h1>占位</h1>
            <p>预留位置用来显示host</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <form class="form-row align-items-center" action="/targethost/host" method="POST">
        {% csrf_token %}
        <div class="row align-items-center">
            <div class="col-auto">
<!--                <label for="exampleInputEmail1">Email address</label>-->
                <input type="text" class="form-control" placeholder="Host IP" name="host_ip">
            </div>
            <div class="col-auto">
                <input type="password" class="form-control" placeholder="Password" name="host_password">
            </div>
            <div class="col-auto">
            <button type="submit" class="btn btn-primary">Connect</button>
            </div>
        </div>
    </form>
</div>


</body>
</html>